<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="eGov Urban Portal">
		<meta name="author" content="">
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		
		<title>eGov Urban Portal</title>
		
		<link rel="icon" href="../resources/global/images/favicon.png" sizes="32x32">
		<link rel="stylesheet" href="../resources/global/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../resources/global/css/font-icons/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../resources/global/css/multi-level-menu/jquery.multilevelpushmenu.css">
		<link rel="stylesheet" href="../resources/global/css/egov/custom.css">
		<link rel="stylesheet" href="../resources/global/css/jquery/plugins/datatables/jquery.dataTables.min.css">
		<link rel="stylesheet" href="../resources/global/css/jquery/plugins/datatables/dataTables.bootstrap.min.css">
		
		<script src="../resources/global/js/jquery/jquery.js"></script>
		<script src="../resources/global/js/jquery/plugins/jquery.validate.min.js"></script>
		<script src="../resources/global/js/bootstrap/bootbox.min.js"></script>
		<script src="../resources/global/js/bootstrap/bootstrap.js"></script>
		<script src="../resources/global/js/multi-level-menu/jquery.multilevelpushmenu.js"></script>
		
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="../resources/global/js/ie8/html5shiv.min.js"></script>
		<script src="../resources/global/js/ie8/respond.min.js"></script>
		<![endif]-->
		<style>
		body{padding:0;}
		footer {
			background-color:#f3f4f5;bottom: 0;clear:both;position: fixed;width:100%;z-index: 999;
		}
		
		footer a{
			color: rgb(116, 101, 101);text-decoration: none;
		}
		
		footer span.copyright {
			float: left;font-size: 11px;padding: 7px;
		}
		
		footer span.version {
			float: right;font-size: 11px;padding: 7px;
		}
		    
		footer span.copyright a {
			color: rgb(116, 101, 101);
		}
		
		footer #legal {
			clear: left;display: block;
		}
		
		.constrain {
				padding-left: 10px;padding-right: 10px;margin-bottom:0px;
		}
		</style>
	</head>
	<body>
		<div id="loadingMask"></div>
		<div id="loading">
		    <div class="loading-indicator"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
		</div>
		<div class="page-container horizontal-menu">
			<!-- <div class="search">
				<input type="text" id="searchtree" autofocus="" placeholder="Quick Find"><span class="fa fa-search searchicon tooltip-secondary" data-toggle="tooltip" data-original-title="Search menu item"></span>
				<span class="applyanimation"></span>
			</div>
			<div class="search_list">
				<div class="list"><ul class="ullist"></ul></div>
			</div> -->
			<header class="navbar navbar-fixed-top border-header"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<div class="navbar-inner">
					
					<!-- logo -->
					<div class="navbar-brand">
						<a href="javascript:void(0);">
							<img src="" height="60" class="homepage_logo">
						</a>
					</div>
					
					<div class="navbar-brand">
						<h3 class="horizontal-page-title homepage hidden-xs hidden-sm" id="hp-citizen-title"></h3>
					</div>
					
					<!-- notifications and other links -->
					<ul class="nav navbar-right pull-right">
						
						<li class="dropdown">
							<a href="javascript:void(0);" class="tooltip-secondary workspace active" data-toggle="tooltip" title="" data-work="worklist" data-original-title="core.lbl.worklist">
								<i class="fa fa-list fa-fw"></i>
							</a>
						</li>
						<li class="dropdown">
							<a href="javascript:void(0);" class="tooltip-secondary workspace" data-toggle="tooltip" title="" data-work="drafts" data-original-title="core.lbl.drafts">
								<i class="fa fa-pencil fa-fw"></i>
							</a>
							
						</li>
						<li class="dropdown">
							<a href="javascript:void(0);" class="tooltip-secondary workspace" data-toggle="tooltip" title="" data-work="notifications" data-original-title="core.lbl.notifications">

								<i class="fa fa-bell fa-fw"></i>
							</a>
							
						</li>
						
						<li class="hidden-xs menu-responsive">
							<a href="javascript:void(0);" class="profile-name">
								<i class="fa fa-user img-circle"></i> <span class="profile-text"></span>
							</a>
							<ul>
								<li>
									<a href="edit_profile.html" data-name="profile" class="open-popup">
										<i class="fa fa-user"></i>
										<span class="title" data-translate="core.lbl.edit.profile"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" onclick="jQuery('.change-password').modal('show', {backdrop: 'static'});">
										<i class="fa fa-key"></i>
										<span class="title" data-translate="core.lbl.pass.change"></span>
									</a>
								</li>
								<!--
								<li>
									<a href="javascript:void(0);" onclick="jQuery('.add-feedback').modal('show', {backdrop: 'static'});">
										<i class="fa fa-comment"></i>
										<span class="title">Feedback</span>
									</a>
								</li>
								
								<li>
									<a href="http://issues.egovernments.org/login.jsp" data-strwindname="r&amp;i" class="open-popup">
										<i class="fa fa-bug"></i>
										<span class="title">Report an Issue</span>
									</a>
								</li>
								
								<li>
									<a href="help" data-strwindname="help" class="open-popup">
										<i class="fa fa-question"></i>
										<span class="title">Help</span>
									</a>
								</li> -->
								<li>
									<a href="javascript:void(0)" class="signout">
										<i class="fa fa-sign-out"></i>
										<span class="title" data-translate="core.lbl.signout"></span>
									</a>
								</li>
							</ul>
						</li>
						
						<li class="dropdown visible-xs hidden-sm">
							<a href="javascript:void(0)" class="tooltip-secondary signout" data-toggle="tooltip" data-original-title="core.lbl.signout">
								<i class="fa fa-sign-out"></i>
							</a>
						</li>
						
						<li class="dropdown">
							<a href="http://www.egovernments.org" target="_blank">
								<img src="../resources/global/images/egov.png" data-toggle="tooltip" data-original-title="core.lbl.page.footer" height="25px">
							</a>
						</li>
					</ul>
				</div>
			</header>
			<!--New side bar menu content-->
			<div class="home-container">
				<div id="menu" class="homepage">
				  <nav>
				    <h2><i class="fa fa-reorder"></i></h2>
				    <ul>
				        <li>
				            <a href="#"></i>Applications</a>
				            <h2></i>Applications</h2>
				            <ul>
				                <li>
				                    <a href="#">Grievance Redressal</a>
				                    <h2>Grievance Redressal</h2>
				                    <ul>
				                        <li>
				                            <a href="#">Grievance</a>
				                            <h2>Grievance</h2>
				                            <ul>
						                        <li>
						                            <a href="create-complaint.html" data-name="create" class="open-popup">Register Grievance</a>
						                        </li>
						                        <li>
						                            <a href="search-complaint.html?keyword=Complaint" data-name="search" class="open-popup">Search Grievance</a>
						                        </li>
						                    </ul>
				                        </li>
				                        <li>
				                            <a href="#">Masters</a>
				                            <!-- <h2>Masters</h2> -->
				                        </li>
				                        <li>
				                            <a href="#">Reports</a>
				                            <!-- <h2>Reports</h2> -->
				                        </li>
				                    </ul>
				                </li>
				                <li>
				                    <a href="#">Citizen Services</a>
				                    <h2>Citizen Services</h2>
				                    <ul>
				                        <li>
				                            <a href="#">Services</a>
				                            <h2>Services</h2>
				                            <ul>
						                        <li>
						                            <a href="services.html" class="open-popup">List of Services</a>
						                        </li>
						                        <li>
						                            <a href="search-complaint.html?keyword=Deliverable_service" class="open-popup">Search Service</a>
						                        </li>
						                    </ul>
				                        </li>
				                    </ul>
				                </li>
				            </ul>
				        </li>
				    </ul>
				  </nav>
				</div>
				<div class="inline-main-content">
					<div class="row main-space" id="worklist">
						<div class="col-md-9 col-xs-9 table-header" data-translate="core.lbl.worklist"></div>
						<div class="col-md-3 col-xs-3 add-margin text-right">
							<div class="input-group">
							  <input type="text" class="form-control input-sm search-table" id="inboxsearch">
							  <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
							</div>
						</div>
						<div class="col-md-12">
							<table class="table table-bordered datatable" id="official_inbox"></table>
						</div>
					</div>
				</div>
			</div>
			<footer class="clearfix simple">
				<div class="constrain">
					<div id="legal">
						
						<span class="copyright"><span data-translate="pgr.lbl.home.page"></span> <span><i class="fa fa-copyright"></i></span> 2017 <a href="http://www.egovernments.org" target="_blank"> eGovernments Foundation.<sup>®</sup></a></span>
					</div>
				</div>
			</footer>
		</div>
		<div class="modal fade history-inbox">
			<div class="modal-dialog history">
				<div class="modal-content">
					
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" data-translate="core.lbl.history"></h4>
					</div>
					
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered datatable" id="historyTable">
								</table>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" data-translate="core.lbl.cancel"></button>
					</div>
					
				</div>
			</div>
		</div>
		<div class="modal fade change-password" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="password-form" class="form-horizontal form-groups-bordered">
					<div class="modal-header">
						<button type="button" class="close pass-cancel" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" data-translate="core.lbl.pass.change"></h4>
					</div>
					<div class="modal-body">
							<div class="form-group">
								<div class="col-md-4">
									<label class="control-label required" data-translate="core.lbl.enter.old.password"></label>
								</div>
								<div class="col-md-8 add-margin">
									<input style="display:none">
									<input type="password" name="existingPassword" class="form-control" id="old-pass" required="required">
								</div>
							</div>
							<div class="form-group" id="wrap">
								<div class="col-md-4">
									<label class="control-label required" data-translate="core.lbl.new.password"></label>
								</div>
								<div class="col-md-8 add-margin">
									<input type="password" class="form-control check-password passwordvalidate" name="newPassword" data-toggle="popover" data-container="#wrap" data-content="core.error.password" id="new-pass" maxlength="32" required="required">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4">
									<label class="control-label required" data-translate="core.lbl.retype.password"></label>
								</div>
								<div class="col-md-8 add-margin">
									<input type="password" class="form-control check-password" id="retype-pass" maxlength="32" required="required">
									<div class="password-error error-msg display-hide" data-translate="core.error.password.confirmpassword.same"></div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<div class="text-right">
							<button type="button" class="btn btn-primary" id="resetpassword" data-translate="core.lbl.pass.change"></button>
							<button type="button" class="btn btn-default pass-cancel" data-dismiss="modal" data-translate="core.lbl.cancel"></button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<script src="../resources/global/js/jquery/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/dataTables.bootstrap.min.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/moment.min.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/datetime-moment.js"></script>
		<script src="../resources/global/js/egov/custom.js"></script>
		<script src="../resources/app/js/custom-menu.js"></script>
		<script src="../resources/app/js/homepageofficial.js"></script>
		<script type="text/javascript">
			$(window).load(function(){
		        document.getElementById("loading").style.display = "none";
				document.getElementById("loadingMask").style.display = "none";
		    });
		</script>
	</body>
	
</html>