<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="description" content="eGov System" />
	    <meta name="author" content="eGovernments Foundation" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
	    <title>eGov Urban Portal</title>
		<link rel="icon" href="../resources/global/images/favicon.png" sizes="32x32">
	    <link rel="stylesheet" href="../resources/global/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../resources/global/css/font-icons/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../resources/global/css/bootstrap/typeahead.css">
		<link rel="stylesheet"	href="../resources/global/js/image-gallery/css/blueimp-gallery.min.css">
		<link rel="stylesheet" href="../resources/global/css/bootstrap-tour/bootstrap-tour.css">
		<link rel="stylesheet" href="../resources/global/css/egov/custom.css">
	
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="../resources/global/js/ie8/html5shiv.min.js"></script>
		<script src="../resources/global/js/ie8/respond.min.js"></script>
		<![endif]-->
	
	</head>
    <body class="page-body" oncontextmenu="return false;">
        <div class="page-container">
        	<header class="navbar navbar-fixed-top" data-include="header" data-header-title="Update Service">
			</header>
            <div class="main-content">
				<form id="complaintUpdate" role="form" class="form-horizontal form-groups-bordered" enctype="multipart/form-data" autocomplete="off">
				<div class="row viewcomplaint">
				<script id="viewcomplaint-script" type="text/x-handlebars-template">
					{{#serviceRequests}}
					<div class="col-md-12">
						<div class="panel panel-primary" data-collapsed="0">
							<div class="panel-heading">
								<div class="panel-title">
									 <span data-translate="pgr.lbl.srn"></span>: {{serviceRequestId}}
								</div>
							</div>
							<div class="panel-body custom-form">
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Name"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{#if firstName}}
											{{firstName}}
										{{else}}
											N/A
										{{/if}}
									</div>
									<div class="col-md-3 col-xs-6 add-margin" data-translate="core.lbl.mobilenumber"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{#if phone}}
											{{phone}}
										{{else}}
											N/A
										{{/if}}
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Email"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{#if email}}
											{{email}}
										{{else}}
											N/A
										{{/if}}
									</div>
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Address"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{#each attribValues}}
										    {{#if (contains this.key "requesterAddress")}}
												{{this.name}}
										    {{/if}}
										{{/each}}
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Aadhaar No."></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{#each attribValues}}
										    {{#if (contains this.key "aadhaarno")}}
												{{this.name}}
										    {{/if}}
										{{/each}}
									</div>
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Description"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{description}}
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Grievance / Service Type"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{serviceName}}
									</div>
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Department"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{values.departmetName}}
										{{#each attribValues}}
										    {{#if (contains this.key "departmentName")}}
												{{this.name}}
										    {{/if}}
										{{/each}}
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Registered Date"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{requestedDatetime}}
									</div>
									
									<div class="col-md-3 col-xs-6 add-margin" data-translate="pgr.lbl.nextescalation.date"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{expectedDatetime}}
									</div> 
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="pgr.lbl.filedvia"></div>
									<div class="col-md-3 col-xs-6 add-margin view-content">
										{{#each attribValues}}
										    {{#if (contains this.key "receivingMode")}}
												{{this.name}}
										    {{/if}}
										{{/each}}
									</div>
									{{#if values.recCenterText}}
										<div class="col-md-3 col-xs-6 add-margin" data-translate="pgr.lbl.receivingcenter"></div>
										<div class="col-md-3 col-xs-6 add-margin view-content">
											{{#each attribValues}}
											    {{#if (contains this.key "recCenterText")}}
													{{this.name}}
											    {{/if}}
											{{/each}}
										</div>
									{{/if}}
								</div>
					{{/serviceRequests}}
								<div class="row add-border">
									<div class="col-md-3 col-sm-6 col-xs-6 add-margin" data-translate="core.lbl.grievance.photo/video"></div>
									<div id="links" class="col-md-9 col-sm-6 col-xs-12 view-content">
									{{#each files}}
										<a href="{{url}}" type="{{contentType}}" class="col-md-4 col-sm-4 col-xs-12 add-margin down-file view-content" data-gallery> 
											{{#if (contains contentType "video")}}
												<img class="img-width add-margin" src="../resources/global/images/video.png" alt="">
											{{else}}
												<img class="img-width add-margin" src="{{url}}" />
											{{/if}}
										</a>
									{{else}}
										N/A
									{{/each}}
									</div>
								</div>
					{{#serviceRequests}}
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="Location"></div>
									<div class="col-md-9 col-xs-6 add-margin view-content">
										 	{{#if values.latlngAddress}}
												<span class="map-tool-class btn-secondary" data-toggle="tooltip"
											 	data-placement="top" title="" data-original-title="Locate on map"
											 	onclick="jQuery('#complaint-locate').modal('show', {backdrop: 'static'});"><i class="fa fa-map-marker"></i></span>&nbsp;<span id="address_locate">
											 	{{#each attribValues}}
												    {{#if (contains this.key "latlngAddress")}}
														{{this.name}}
												    {{/if}}
												{{/each}}
											 	</span>
											{{else}}
												<span id="address_locate">
													{{#each attribValues}}
													    {{#if (contains this.key "ChildLocationName")}}
															{{this.name}} -
													    {{/if}}
													{{/each}}
													{{#each attribValues}}
													    {{#if (contains this.key "locationName")}}
															{{this.name}}
													    {{/if}}
													{{/each}}
													</span>
											{{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-xs-6 add-margin" data-translate="core.lbl.landmark"></div>
									<div class="col-md-9 col-xs-6 add-margin view-content">
										{{#if address}}
											{{address}}
										{{else}}
											N/A
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/serviceRequests}}
				</script>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary" id="referenceFileBlock" data-collapsed="0">
							<div class="panel-heading">
								<div class="panel-title">Document Reference Files</div>
							</div>
							<div class="panel-body custom-form">
								<div class="form-group employeeDocs">
									<script id="empDocs-script" type="text/x-handlebars-template">
										{{#employeeDocs}}
										<div class="col-sm-4">
											<a href="{{fileStoreId}}" class="btn btn-danger" download>
												<span class="glyphicon glyphicon-download-alt"></span> {{fileName}}
											</a>
										</div>
										{{/employeeDocs}}
									</script>
								</div>
							</div>	
						</div>
					</div>
				</div>

				<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary hide" data-collapsed="0">
								<div class="panel-heading">
									<div class="panel-title">Application Details</div>
								</div>
								<div class="panel-body custom-form appForm" id="servicesBlock">
				
								</div>
							</div>
							<div class="panel panel-primary hide" data-collapsed="0">
								<div class="panel-heading">
									<div class="panel-title">CheckList</div>
								</div>
								<div class="panel-body custom-form checkForm" id="servicesBlockClist">
				
								</div>
							</div>
							<div class="panel panel-primary hide" data-collapsed="0">
								<div class="panel-heading">
									<div class="panel-title">Document Upload</div>
								</div>
								<div class="panel-body custom-form" id="servicesBlockDocs">
				
								</div>
							</div>
						</div>
				</div>
				

				<div class="row">
					<div class="col-md-12">
						<div class="panel-group">
							<div class="panel panel-primary">
								<div class="panel-heading slide-history-menu">
									<div class="panel-title" data-translate="History"></div>
									<div class="history-icon">
										<i class="fa fa-angle-down fa-2x" id="toggle-his-icon"></i>
									</div>
								</div>
								<div class="panel-body history-slide wfcomplaint">
									<div class="row hidden-xs visible-sm visible-md visible-lg view-content header-color">
										<div class="col-sm-2 col-xs-6 add-margin" data-translate="core.lbl.date"></div>
										<div class="col-sm-2 col-xs-6 add-margin" data-translate="pgr.lbl.updatedby"></div>
										<div class="col-sm-2 col-xs-6 add-margin" data-translate="core.lbl.status"></div>
										<div class="col-sm-2 col-xs-6 add-margin" data-translate="pgr.lbl.currentowner"></div>
										<div class="col-sm-2 col-xs-6 add-margin" data-translate="core.lbl.department"></div>
										<div class="col-sm-2 col-xs-6 add-margin" data-translate="core.lbl.comments"></div>
									</div>
									<script id="wfcomplaint-script" type="text/x-handlebars-template">
										{{#workflow}}
										<div class="row  add-border">
											<div class="col-sm-2 col-xs-12 add-margin currDate">
												{{created_Date}}
											</div>
											<div class="col-sm-2 col-xs-12 add-margin">
												{{sender_name}}
											</div>
											<div class="col-sm-2 col-xs-12 add-margin">
												{{status}}
											</div>
											<div class="col-sm-2 col-xs-12 add-margin">
												{{owner}}
											</div>
											<div class="col-sm-2 col-xs-12 add-margin">
												{{#values.department.values}}
													{{name}}
												{{/values.department.values}}										
											</div>
											<div class="col-sm-2 col-xs-12 add-margin">
												{{comments}}
											</div>
										</div>
										{{/workflow}}
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-primary action-section" data-collapsed="0">
					<div class="panel-heading">
						<div class="panel-title" data-translate="pgr.lbl.actions"></div>
					</div>
					<div class="panel-body custom-form">
						
							<div class="form-group hide feegroup">
								<div class="col-md-offset-3 col-md-9">
									<input type="checkbox" id="feepaid"> Whether the processing fee is paid
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-3 col-sm-4 col-xs-6 add-margin" data-translate="pgr.lbl.change.status">
								</div>
								<div class="col-md-3 col-sm-8 col-xs-6 add-margin">
									<select id="status" name="status" class="form-control">
									</select>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-6 add-margin employee-action serviceType" data-translate="pgr.lbl.change.grievancetype"></div>
								<div class="col-md-3 col-sm-8 col-xs-6 add-margin employee-action serviceType">
									<select id="complaintType" name="complaintType" class="form-control">
									</select>
									
								</div>
							</div>
							<div class="form-group employee-action">
								<div class="col-md-3 col-sm-4 col-xs-12 add-margin" data-translate="pgr.lbl.change.jurisdiction"></div>
								<div class="col-md-3 col-sm-4 col-xs-12 add-margin">
									<select id="ct-sel-jurisd" name="location" class="form-control" >
										<option value="">Select</option>
									</select>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12 add-margin">
									<select id="location" name="childLocation" class="form-control">
										<option value="">Select</option>
									</select>
									
								</div>
							</div>
							<div class="form-group employee-action">
								<label class="col-md-3 col-xs-12" data-translate="Forward To"></label>
								<div class="col-md-3 col-sm-4 col-xs-12 add-margin">
									<select id="approvalDepartment" name="approvalDepartment" class="form-control">  
									</select>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12 add-margin">
									<select id="approvalDesignation" name="approvalDesignation" class="form-control">  
										<option value="">
											Select Designation
										</option>
									</select>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12 add-margin">
									<select name="approvalPosition" id="approvalPosition" class="form-control">
										<option value="">
											Select Position
										</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 add-margin required" data-translate="core.lbl.include.message"></label>
								<div class="col-md-9 add-margin">
									<textarea class="form-control" id="approvalComment" placeholder="" required="required"
										maxlength="400" name="approvalComent" autocomplete="off"></textarea>
										
								</div>
							</div>  
							<div class="form-group employee-action file-section">
								<label class="col-md-3 add-margin required" data-translate="Document reference for approval (Max: 3 Files)"></label>
								<div class="col-md-3 add-margin">
									<div class="input-group">
									    <input type="file" name="file" class="form-control" />
									    <span class="input-group-addon delete-file"><i class="glyphicon glyphicon-trash specific"></i></span>
									</div>
								</div>
								<div class="col-md-3 add-margin addfile-section">
									<button type="button" class="btn btn-primary" id="add-file">Add File</button>
								</div>
							</div>
				
							<div class="form-group feedback citizen-action">
									<div class="col-md-3 col-xs-6 add-margin">
										Feedback<span class="mandatory"></span>
									</div>
									<div class="col-md-3 col-xs-6 add-margin">
										<input type="hidden" class="rating" data-filled="fa fa-star fa-2x" data-empty="fa fa-star-o fa-2x"/>
									</div>
							</div>
				
							<div class="form-group">
								<div class="text-center">
						        	<button type="button" id="update-complaint" class="btn btn-primary" data-translate="Update"></button>
								</div>
							</div>
						
					</div>
				</div>

				<div class="form-group">
					<div class="text-center">
						<button type="button" class="btn btn-default" data-translate="core.lbl.close" onclick="window.close();"></button>   
					</div>
				</div>

				</form>
				<!-- Modal 6 (Long Modal)-->
				<div class="modal fade" id="complaint-locate">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title" data-translate="pgr.lbl.grievance.location"></h4>
							</div>
							<div class="modal-body">
								<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyB4Rn4dQ1hivzYaXNvpxxUB5i3x2j4ytic"></script>
								<div id="normal" class="img-prop"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" data-translate="core.lbl.close"></button>
							</div>
						</div>
					</div>
				</div>

				<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
				<div id="blueimp-gallery" class="blueimp-gallery"
					data-use-bootstrap-modal="false">
					<!-- The container for the modal slides -->
					<div class="slides"></div>
					<!-- Controls for the borderless lightbox -->
					<h3 class="title"></h3>
					<ol class="indicator"></ol>
					<!-- The modal dialog, which will be used to wrap the lightbox content -->
					<div class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" aria-hidden="true">&times;</button>
									<h4 class="modal-title"></h4>
								</div>
								<div class="modal-body next"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default pull-left prev">
										<i class="glyphicon glyphicon-chevron-left"></i>Previous</button>
									<button type="button" class="btn btn-primary next">Next
									 	<i class="glyphicon glyphicon-chevron-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
            </div>
			<footer class="main" data-include="footer">
			</footer>
        </div>
        
        <input type="hidden" value="15.83" id="getcitylat">
        <input type="hidden" value="78.05" id="getcitylng">

		<div class="modal fade demo-class" data-backdrop="static" style="opacity:0.01">
			<div class="modal-dialog">
					<div class="modal-body">
						
					</div>
			</div>
		</div>

		<script src="../resources/global/js/jquery/jquery.js"></script>
		<script src="../resources/global/js/bootstrap/bootstrap.js"></script>
		<script src="../resources/global/js/bootstrap/bootstrap-rating.min.js"></script>
		<script src="../resources/global/js/bootstrap/bootbox.min.js"></script>
		<script src="../resources/global/js/bootstrap-tour/bootstrap-tour.js"></script>
		<script src="../resources/global/js/bootstrap/typeahead.bundle.js"></script>
		<script src="../resources/global/js/jquery/plugins/jquery.inputmask.bundle.min.js"></script>
		<script src="../resources/global/js/jquery/plugins/jquery.validate.min.js"></script>
		<script src="../resources/global/js/egov/patternvalidation.js"></script>
		<script src="../resources/global/js/egov/custom.js"></script>
		<script	src="../resources/global/js/image-gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script	src="../resources/global/js/image-gallery/js/bootstrap-image-gallery.js"></script>
		<script	src="../resources/global/js/handlebars/handlebars-v4.0.5.js"></script>
		<script>
			var mode = 'view';
		</script>
		<script src="../resources/app/js/fileuploadndmaps.js"></script>
		<script src="../resources/app/js/complaintview.js"></script>
    </body>
</html>