body{
	/*font-family: 'ralewayregular';*/
	font-size: 14px;
	line-height: 18px;
}
/*-- Fonts --*/
/*@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/
a{
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
a:hover, a:focus{
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    text-decoration: none;
    outline: none;
}
button:focus{outline: none;}
ul{list-style-type: none; padding: 0; margin: 0;}

/*.left-side-menu{
	background: #6b4f2c;
	left: 0;
	min-height: 100%;
	padding-top: 0;
	position: fixed;
	top: 71px;
	z-index: 3;
	width: 19%;
	color: #fff;
}

.head-top{
	position: fixed;
	left: 0;
	background: #6b4f2c;
	width: 100%;
	padding: 0.4em 1em;
	z-index: 2;
	border-bottom: #5a3e1b 1px solid;
}

.logo-pan{
	display: inline-block;
	vertical-align: middle;
	width: 59px;
	height: 59px;
	border-radius: 50%;
	overflow: hidden;
}
.logo-pan img{max-width: 100%;}
.head-top h1{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #fff;
	font-family: 'ralewaysemibold';
	margin: 0 0 0 9px;
}
.left-side-menu ul{padding: 0;}
.left-side-menu ul li{
	border-bottom: #5a3e1b 1px solid;
}
.left-side-menu .panel-body{border-color: #5a3e1b!important; padding: 0;}
.left-side-menu .panel-group{margin-bottom: 0;}
.left-side-menu ul li .panel-heading{
	padding: 0;
	border-radius: 0;
	border: none;
	background: none;
}
.left-side-menu .panel{background: none; border: none;}
.left-side-menu ul li .panel-title{font-size: 1em;}
.left-side-menu ul li a{
	padding: .9em;
	color: #fff;
	font-size: 1em;
	display: block;
	position: relative;
}
.left-side-menu ul li a:hover{background: #f2851f;}
.left-side-menu ul li a:after{
	content: "\f107";
	font-family: 'FontAwesome';
	position: absolute;
	right: 1em;
	top: 1em;
}
.left-side-menu ul li ul a:after{
	content: "";
}
.left-side-menu ul li a.collapsed:after{content: "\f105";}
.left-side-menu ul li a i{padding-right: 9px;}
.left-side-menu .search-pan input{
	background: none;
	border: none;
	width: 100%;
	padding: 1em;
	border-color: rgba(242,133,31,0);
	border-width: 0 0 2px 0;
	border-style: solid;
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.left-side-menu .search-pan input:focus{
	border-color: rgba(242,133,31,1);
	background: #7c603d;
}
.left-side-menu .search-pan{position: relative;}
.left-side-menu .search-pan:after{
	content: "\f002";
	font-family: 'FontAwesome';
	font-size: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
}
.body-cont{width: 100%; padding-left: 19%; padding-top: 71px;}*/
.body-cont-inner{padding: 1em;}
.body-cont-inner label{
	font-weight: normal;
	color: #000;
	/*color: #523c38;*/
	font-size: 13px;
	/*font-family: 'ralewaysemibold';*/
}
.body-cont-inner label span{color: red; /*font-family: 'ralewaybold';*/ font-size: 16px;}
.body-cont-inner input[type="text"],
.body-cont-inner input[type="number"],
.body-cont-inner input[type="date"],
.body-cont-inner input[type="email"]{
	width: 100%;
	/*border: #ddd 1px solid;*/
	border: #aaa 1px solid;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding: 0 9px;
	font-size: 13px;
}
/*.search-ui input{
	width: 70%!important;
	display: inline-block;
	border-radius: 5px 0 0 5px!important;
	vertical-align: top;
}*/
.search-ui{position: relative;}
.search-ui input{padding-right: 39px!important;}
.search-ui button{
	line-height: 28px;
	height: 28px;
	border-radius: 0 5px 5px 0;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	background: #6b4f2c;
	border: none;
	width: 29px;
	text-align: center;
	color: #fff;
}
.body-cont-inner input[type="file"]{
	line-height: 28px;
	height: 28px;
	margin-bottom: 19px;
	font-size: 12px;
}
.body-cont-inner textarea{
	width: 100%;
	border: #aaa 1px solid;
		/*border: #ddd 1px solid;*/
	height: 59px;
	line-height: 18px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding: 9px;
	resize: none;
	font-size: 12px;
}
.body-cont-inner select{
	width: 100%;
	/*border: #ddd 1px solid;*/
	border: #aaa 1px solid;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding: 0 9px;
	font-size: 13px;
}
.body-cont-inner h2{
	padding: 19px 0;
	color: #6b4f2c;
	font-size: 1.9em;
	margin: 0 15px;
}
.body-cont-inner h3{
	/*padding: 9px 0;*/
	font-size: 1.4em;
	margin: 0 0 19px;
	color: #f68f31;
	/*font-family: 'ralewaysemibold';*/
	/*font-family: 'ralewaybold';
	border-bottom: #fff6ab 2px solid;*/
}
.form-inner-padd{margin-bottom: 49px;}

.view-chart-ui{width: 50%; display: inline-block; vertical-align: top;}
.view-chart-ui:nth-child(even){margin-left: -4px;}
.view-chart-ui span{
	display: inline-block;
	vertical-align: top;
	padding: 9px;
	font-size: 1em;
	margin-bottom: 2px;
}
.view-chart-ui > span:nth-child(1){
	width: 40%;
	/*font-family: 'ralewaybold';*/
}
.view-chart-ui span:nth-child(2){
	width: 60%;
	margin-left: -4px;
}
.view-chart-ui-cont{margin: 0 15px;}
.view-chart-ui-cont:nth-child(odd){background: #fffed7;}
.view-chart-ui-cont select, .view-chart-ui-cont input[type="text"]{
	margin-bottom: 0;
	height: 34px;
	line-height: 34px;
}
.view-chart-ui-cont input[type="radio"], .view-chart-ui-cont input[type="checkbox"]{
	margin-right: 4px;
}
.view-chart-ui-cont .search-ui button{height: 34px; line-height: 34px;}

.table-cont{padding: 0; text-align: center; margin: 39px 0; font-size: 0.9em;}
.table-cont th{
	text-align: center;
	background: #f2851f;
	font-weight: normal!important;
	color: #fff;
	font-size: 12px;
	border-bottom: #e0e0e0 1px solid!important;
	border-right: #e0e0e0 1px solid!important;
	padding: 9px 6px!important;
}
.table-cont td{
	white-space: normal!important;
	border-right: #e0e0e0 1px solid!important;
	padding: 9px 6px!important;
}
.table-cont td:nth-child(1){padding: 9px 6px 9px 18px!important;}
.table-cont td span{display: block;}
.table-cont .child{text-align: left}
.table-cont .child ul{width: 100%;}
/*.table-cont tr.odd{background: #fffed7!important;}
.table-cont tr.odd > .sorting_1{background: #fffdc1!important;}*/
.table-cont td a{margin-right: 0.4em;}
.table-cont td a i{color: #333; font-size: 1.4em;}
.table-cont table.dataTable.no-footer{border-bottom: #e0e0e0 1px solid!important;}
.table-cont .styled-select{
	background: url(../images/drop-down-arrow.png) no-repeat 96% 50%;
}
.styled-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #8b8b8b;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    text-overflow: ellipsis;
    width: 100%;
}
.styled-select {
		border: #aaa 1px solid;
    /*border: #ddd 1px solid;*/
    background: url(../images/drop-down-arrow.png) no-repeat 98% 50%;
    height: 28px;
    line-height: 28px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 5px;
}
.styled-select:focus{border: none;}
.styled-select.multiple, .styled-select.multiple select{height: 59px;}
.btn-submit{
	background: #6b4f2c;
	color: #fff;
	line-height: 28px;
	height: 28px;
	padding: 0 9px;
	font-size: 12px;
}
.btn-close{
	color: #485062;
	line-height: 28px;
	height: 28px;
	padding: 0 9px;
	font-size: 12px;
	border-color: #dadada;
	background: #fff;
}
.view-table, .view-table-simple, .land-table{padding: 29px 0;}

.view-table table,
.view-table-simple table,
.land-table table{
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.9em;
  }

.view-table table  tr,
.view-table-simple table tr,
.land-table table tr {
    border: 1px solid #ddd;
    padding: 5px;
  }

.view-table table th, .view-table table td,
.view-table-simple table th, .view-table-simple table td,
.land-table table th, .land-table table td {
    padding: 0.5em;
    border-right: #ccc 1px solid;
  }
.view-table table th:nth-last-child(1), .view-table table td:nth-last-child(1),
.land-table table th:nth-last-child(1){
	border-right: none;
}
.view-table table tfoot td[data-label],
.land-table table tfoot td[data-table]{font-weight: bold;}

.view-table table th,
.view-table-simple table th,
.land-table table th {
    background: #f2851f;
    font-size: 12px;
    color: #fff;
    font-weight: normal!important;
}
.menu-bar{
	display: none;
}
.menu-bar i{color: #fff; font-size: 18px;}
.blkBg{
    background: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    z-index: 2;
}
.bill-det label{/*font-family: 'ralewaybold';*/ color: #333;}
.payment-det{background: #fffecb; padding: 9px 0; color: #ec971f;}
.payment-det .left{float: left; width: 50%; padding: 0 9px;}
.payment-det .right{float: left; width: 50%; padding: 0 9px; text-align: right;}
.payment-det span{/*font-family: 'ralewaybold';*/}
.row-fluid.row{margin-left: 15px; margin-right: 15px;}
.text-red{color: red; /*font-family: 'ralewaybold';*/ font-weight: normal; font-size: 16px;}

.form-section{
	border-radius: 5px;
	border: #f0eaea 2px solid;
	padding: 15px;
	margin-bottom: 15px;
	/*-webkit-box-shadow: 0 0 2px 2px rgba(240,234,234,0.6);
	box-shadow: 0 0 2px 2px rgba(240,234,234,0.6);*/
}
.form-section .label-text{text-align: right; padding-top: 4px; margin-bottom: 19px;}
.form-section .label-view-text{padding-top: 4px; margin-bottom: 19px;}
.form-section .label-view-text label{/*color: #888;*/}
.form-section-inner{padding: 0 5%;}
.dataTables_length select{width: auto;}

.text-no-ui{position: relative;}
.text-no-ui input{padding-left: 39px!important;}
.text-no-ui span{
	line-height: 28px;
	height: 28px;
	border-radius: 5px 0 0 5px;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	background: #6b4f2c;
	border: none;
	width: 29px;
	text-align: center;
	color: #fff;
}
.styled-file {
    border: #ddd 1px solid;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
    height: 38px;
}
.styled-file input{width: 100%;}
.verticle-table table{width: 100%;}
.verticle-table table tr{border: 1px solid #ddd;}
.verticle-table table td{
	padding: 0.5em;
	font-size: 12px;
	border-right: #ddd 1px solid;
}
.verticle-table table tr td:nth-child(1){background: #f2851f; color: #fff; width: 99px;}
.view-ui .label-text{margin-bottom: 0;}
.view-ui .label-text label{color: #888;}
.view-ui .label-view-text{margin-bottom: 0;}
.error-msg, label.error{
	margin: -16px 0 9px 0!important;
    display: block;
}

#dcb-report-table tbody tr{
	cursor: pointer;
}


/*-- Media Query --*/
@media screen and (max-width: 768px) {

	.view-table table, .land-table table {
	  border: 0;
	}

	.view-table table thead, .land-table table thead {
	  display: none;
	}

	.view-table table tr, .land-table table tr {
	  margin-bottom: 10px;
	  display: block;
	  border-bottom: 2px solid #ddd;
	}

	.view-table table td, .land-table table td {
	  display: block;
	  text-align: right;
	  font-size: 13px;
	  border-bottom: 1px dotted #ccc;
	  border-right: none;
	}
	.view-table table td:last-child, .land-table table td:last-child {
	  border-bottom: 0;
	}
	.view-table table tfoot td:nth-child(1),
	.view-table table tfoot td:nth-last-child(2),
	.land-table table tfoot td:nth-child(1),
	.land-table table tfoot td:nth-last-child(2){border-bottom: none;}

	.view-table table td:before,
	.land-table table td:before {
	  content: attr(data-label);
	  float: left;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 0.9em;
	}
	.view-table table tbody td:nth-child(2),
	.view-table table tbody td:nth-child(5),
	.view-table table tbody td:nth-child(8),
	.view-table table tfoot tr:nth-child(1) td:nth-child(2),
	.view-table table tfoot tr:nth-child(1) td:nth-child(5),
	.view-table table tfoot tr:nth-child(1) td:nth-child(8){padding-top: 3.2em; position: relative;}

	.view-table table tbody td:nth-child(2):after,
	.view-table table tbody td:nth-child(5):after,
	.view-table table tbody td:nth-child(8):after,
	.view-table table tfoot tr:nth-child(1) td:nth-child(2):after,
	.view-table table tfoot tr:nth-child(1) td:nth-child(5):after,
	.view-table table tfoot tr:nth-child(1) td:nth-child(8):after{
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 0.9em;
	  color: red;
	  position: absolute;
	  left: 0;
	  top: 0.5em;
	  background: #f2851f;
	  width: 100%;
	  padding: 0.5em;
	  text-align: left;
	  color: #fff;
	}
	.view-table table tbody td:nth-child(2):after{content: "Demand";}
	.view-table table tbody td:nth-child(5):after{content: "Collection";}
	.view-table table tbody td:nth-child(8):after{content: "Balance";}

	.view-table table tfoot tr:nth-child(1) td:nth-child(2):after{content: "Demand";}
	.view-table table tfoot tr:nth-child(1) td:nth-child(5):after{content: "Collection";}
	.view-table table tfoot tr:nth-child(1) td:nth-child(8):after{content: "Balance";}

	.left-side-menu{left: -2000px; width: 50%; top: 0;}
	.head-top{z-index: 1;}
	.body-cont{padding-left: 0;}
	.menu-bar{
		display: inline-block;
		padding: 15px 9px;
		cursor: pointer;
	}
	.payment-det .left, .payment-det .right{text-align: center; padding: 4px; width: 100%;}
	.form-section .label-text{text-align: left; }
	.form-section-inner{padding: 0;}
}

@media screen and (max-width: 640px){
	.view-chart-ui span:nth-child(1), .view-chart-ui span:nth-child(2),
	.view-chart-ui, .view-chart-ui:nth-child(even){
		width: 100%;
		margin-left: 0;
	}
	.view-chart-ui-cont:nth-child(odd){background: none;}
}

@media screen and (max-width: 480px) {
  	.head-top h1 span{display: block;}
	.head-top h1{font-size: 12px;}
	.left-side-menu{width: 80%;}
}

.display-span {
	margin-top: 4px;
}

input:invalid {
    box-shadow: none !important;
}

div#agreementTable_filter input {
    border: solid 1px #ddd;
}

div#relatedTable_filter input {
	border: solid 1px #ddd;
}

input[type="search"] {
	border: solid 1px #ddd;
}

input:disabled,
textarea:disabled,
select:disabled {
	background: #fff !important;
}

table.dataTable tbody td {
  word-break: break-all;
}
