target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Mac ###
**/*.DS_Store
web/react-pgr-web/src/router.js
web/react-pgr-web/src/router.js
web/react-pgr-web/src/reducers/form_reducer.js
web/property-tax-web/package.json
web/property-tax-web/package.json

environment-addons/es-alerts/config.yaml
environment-addons/es-alerts/rules/*.yaml
web/react-pgr-web/src/router.js
web/react-pgr-web/src/components/common/Header.js
lams/lams-indexer/src/main/java/org/egov/lams/contract/AgreementDetailsEs.java
web/react-pgr-web/src/components/contents/Dashboard.js
web/react-pgr-web/src/components/contents/Login.js
financials/egf-master/mvnw
financials/egf-instrument/mvnw
lams/lams-indexer/src/main/java/org/egov/lams/contract/AgreementDetailsEs.java
financials/egf-master/mvnw
financials/egf-instrument/mvnw
web/react-pgr-web/src/components/common/common.js

#eclipse ignore file#

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

