body{
	font-family: 'ralewayregular';
	font-size: 14px;
	line-height: 18px;
}
/*-- Fonts --*/
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
a{
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
a:hover, a:focus{
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    text-decoration: none;
    outline: none;
}
button:focus{outline: none;}
ul{list-style-type: none; padding: 0; margin: 0;}

.left-side-menu{
	background: #6b4f2c;
	left: 0;
	min-height: 100%;
	padding-top: 0;
	position: fixed;
	top: 71px;
	z-index: 3;
	width: 19%;
	color: #fff;
}

.head-top{
	position: fixed;
	left: 0;
	background: #6b4f2c;
	width: 100%;
	padding: 0.4em 1em;
	z-index: 2;
	border-bottom: #5a3e1b 1px solid;
}

.logo-pan{
	display: inline-block;
	vertical-align: middle;
	width: 59px;
	height: 59px;
	border-radius: 50%;
	overflow: hidden;
}
.logo-pan img{max-width: 100%;}
.head-top h1{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #fff;
	font-family: 'ralewaysemibold';
	margin: 0 0 0 9px;
}
.left-side-menu ul{padding: 0;}
.left-side-menu ul li{
	border-bottom: #5a3e1b 1px solid;
}
.left-side-menu .panel-body{border-color: #5a3e1b!important; padding: 0;}
.left-side-menu .panel-group{margin-bottom: 0;}
.left-side-menu ul li .panel-heading{
	padding: 0; 
	border-radius: 0;
	border: none;
	background: none;
}
.left-side-menu .panel{background: none; border: none;}
.left-side-menu ul li .panel-title{font-size: 1em;}
.left-side-menu ul li a{
	padding: .9em;
	color: #fff;
	font-size: 1em;
	display: block;
	position: relative;
}
.left-side-menu ul li a:hover{background: #f2851f;}
.left-side-menu ul li a:after{
	content: "\f107";
	font-family: 'FontAwesome';
	position: absolute;
	right: 1em;
	top: 1em;
}
.left-side-menu ul li ul a:after{
	content: "";
}
.left-side-menu ul li a.collapsed:after{content: "\f105";}
.left-side-menu ul li a i{padding-right: 9px;}
.left-side-menu .search-pan input{
	background: none;
	border: none;
	width: 100%;
	padding: 1em;
	border-color: rgba(242,133,31,0);
	border-width: 0 0 2px 0;
	border-style: solid;
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.left-side-menu .search-pan input:focus{
	border-color: rgba(242,133,31,1);
	background: #7c603d;
}
.left-side-menu .search-pan{position: relative;}
.left-side-menu .search-pan:after{
	content: "\f002";
	font-family: 'FontAwesome';
	font-size: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
}
.body-cont{width: 100%; padding-left: 19%; padding-top: 71px;}
.body-cont-inner{padding: 1em;}
.body-cont-inner label{font-weight: normal; color: #aaa; font-size: 14px;}
.body-cont-inner label span{color: red; font-family: 'ralewaybold'; font-size: 16px;}
.body-cont-inner input[type="text"],
.body-cont-inner input[type="number"],
.body-cont-inner input[type="date"]{
	width: 100%;
	border: #ddd 1px solid;
	height: 39px;
	line-height: 39px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding: 0 9px;
}
.search-ui input{
	width: 70%!important; 
	display: inline-block;
	border-radius: 5px 0 0 5px!important;
	vertical-align: top;
}
.search-ui button{
	display: inline-block; 
	margin-left: -4px;
	line-height: 39px;
	height: 39px;
	border-radius: 0 5px 5px 0;
	border: #ddd 1px solid;
	vertical-align: top;
	padding: 0 16px;
	font-size: 18px;
}
.body-cont-inner input[type="file"]{
	line-height: 39px;
	height: 39px;
	margin-bottom: 19px;
}
.body-cont-inner textarea{
	width: 100%;
	border: #ddd 1px solid;
	height: 99px;
	line-height: 19px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding: 9px;
	resize: none;
}
.body-cont-inner select{
	width: 100%;
	border: #ddd 1px solid;
	height: 39px;
	line-height: 39px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding: 0 9px;
}
.body-cont-inner h2{
	padding: 19px 0; 
	color: #6b4f2c; 
	font-size: 1.9em;
	margin: 0 15px;
}
.body-cont-inner h3{
	padding: 9px 0;
	font-size: 1.4em;
	margin: 0 15px 19px;
	font-family: 'ralewaybold';
	border-bottom: #fff6ab 2px solid;
}
.form-inner-padd{margin-bottom: 49px;}

.view-chart-ui{width: 50%; display: inline-block; vertical-align: top;}
.view-chart-ui:nth-child(even){margin-left: -4px;}
.view-chart-ui span{
	display: inline-block;
	vertical-align: top;
	padding: 9px;
	font-size: 1em;
	margin-bottom: 2px;
}
.view-chart-ui > span:nth-child(1){
	width: 40%; 
	font-family: 'ralewaybold';
}
.view-chart-ui span:nth-child(2){
	width: 60%; 
	margin-left: -4px;
}
.view-chart-ui-cont{margin: 0 15px;}
.view-chart-ui-cont:nth-child(odd){background: #fffed7;}
.view-chart-ui-cont select, .view-chart-ui-cont input[type="text"]{
	margin-bottom: 0;
	height: 34px;
	line-height: 34px;
}
.view-chart-ui-cont input[type="radio"], .view-chart-ui-cont input[type="checkbox"]{
	margin-right: 4px;
}
.view-chart-ui-cont .search-ui button{height: 34px; line-height: 34px;}

.table-cont{padding: 0 15px; text-align: center; margin: 39px 0; font-size: 0.9em;}
.table-cont th{
	text-align: center;
	background: #fff6ab;
	font-weight: normal!important;
	font-family: 'ralewaybold';
	color: #897030;
	border-bottom: #b8af66 1px solid!important;
}
.table-cont td{white-space: normal!important;}
.table-cont td span{display: block;}
.table-cont .child{text-align: left}
.table-cont .child ul{width: 100%;}
.table-cont tr.odd{background: #fffed7!important;}
.table-cont tr.odd > .sorting_1{background: #fffdc1!important;}
.table-cont td a{margin-right: 0.4em;}
.table-cont td a i{color: #333; font-size: 1.4em;}
.table-cont table.dataTable.no-footer{border-bottom: #b8af66 1px solid!important;}

@media screen and (max-width: 640px){
	.view-chart-ui span:nth-child(1), .view-chart-ui span:nth-child(2),
	.view-chart-ui, .view-chart-ui:nth-child(even){
		width: 100%;
		margin-left: 0;
	}
	.view-chart-ui-cont:nth-child(odd){background: none;}
}

.view-table{padding: 29px 15px;}

.view-table table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.9em;
  }

.view-table table tr {
    border: 1px solid #ddd;
    padding: 5px;
  }

.view-table table th, .view-table table td {
    padding: 0.5em;
    border-right: #ccc 1px solid;
  }
.view-table table th:nth-last-child(1), .view-table table td:nth-last-child(1){
	border-right: none;
}

.view-table table th {
    background: #fff6ab;
    font-size: 0.9em;
}
.menu-bar{
	display: none;	
}
.menu-bar i{color: #fff; font-size: 18px;}
.blkBg{
    background: rgba(0,0,0,0.2); 
    height: 100%; 
    width: 100%; 
    position: fixed; 
    right: 0; 
    top: 0; 
    display: none;
    z-index: 2;
}
.bill-det label{font-family: 'ralewaybold'; color: #333;}
.payment-det{background: #fffecb; padding: 9px 0; color: #ec971f;}
.payment-det .left{float: left; width: 50%; padding: 0 9px;}
.payment-det .right{float: left; width: 50%; padding: 0 9px; text-align: right;}
.payment-det span{font-family: 'ralewaybold';}
.row-fluid.row{margin-left: 15px; margin-right: 15px;}
.text-red{color: red; font-family: 'ralewaybold'; font-weight: normal; font-size: 16px;}

@media screen and (max-width: 768px) {

	.view-table table {
	  border: 0;
	}

	.view-table table thead {
	  display: none;
	}

	.view-table table tr {
	  margin-bottom: 10px;
	  display: block;
	  border-bottom: 2px solid #ddd;
	}

	.view-table table td {
	  display: block;
	  text-align: right;
	  font-size: 13px;
	  border-bottom: 1px dotted #ccc;
	  border-right: none;
	}
	.view-table table td:last-child {
	  border-bottom: 0;
	}
	.view-table table tfoot td:nth-child(1),
	.view-table table tfoot td:nth-last-child(2){border-bottom: none;}

	.view-table table td:before {
	  content: attr(data-label);
	  float: left;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 0.9em;
	}
	.view-table table tbody td:nth-child(2),
	.view-table table tbody td:nth-child(6),
	.view-table table tbody td:nth-child(10){padding-top: 3.2em; position: relative;}
	.view-table table tbody td:nth-child(2):after,
	.view-table table tbody td:nth-child(6):after,
	.view-table table tbody td:nth-child(10):after{
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 0.9em;
	  color: red;
	  position: absolute;
	  left: 0;
	  top: 0.5em;
	  background: #fff6ab;
	  width: 100%;
	  padding: 0.5em;
	  text-align: left;
	}
	.view-table table tbody td:nth-child(2):after{content: "Demand";}
	.view-table table tbody td:nth-child(6):after{content: "Collection";}
	.view-table table tbody td:nth-child(10):after{content: "Balance";}
	.left-side-menu{left: -2000px; width: 50%; top: 0;}
	.head-top{z-index: 1;}
	.body-cont{padding-left: 0;}
	.menu-bar{
		display: inline-block;
		padding: 15px 9px;
		cursor: pointer;
	}
	.payment-det .left, .payment-det .right{text-align: center; padding: 4px; width: 100%;}
	
}

  @media screen and (max-width: 480px) {
  	.head-top h1 span{display: block;}
	.head-top h1{font-size: 12px;}
	.left-side-menu{width: 80%;}
}