name: PGR Exception
type: any
index: {{LOG_INDEX_NAME}}
 
filter:
- terms:
    kubernetes.container_name.keyword: ["pgr-rest", "pgr-location-enrichment", "pgr-employee-enrichment", "pgr-notification", "pgr-search-indexer", "pgr-master" ,"egov-workflow"]
- query:
    query_string:
      query: "log: exception OR log: error"

included:
 - log
 - kubernetes.pod_name
 - _index

alert:
- "slack"
slack_username_override: alert-job
slack_channel_override: pgr
