<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="eGov Urban Portal">
		<meta name="author" content="">
		
		
		<title>eGov Urban Portal</title>
		
		<link rel="icon" href="../resources/global/images/favicon.png" sizes="32x32">
		<link rel="stylesheet" href="../resources/global/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../resources/global/css/font-icons/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../resources/global/css/multi-level-menu/jquery.multilevelpushmenu.css">
		<link rel="stylesheet" href="../resources/global/css/egov/custom.css">
		<link rel="stylesheet" href="../resources/global/css/jquery/plugins/datatables/jquery.dataTables.min.css">
		<link rel="stylesheet" href="../resources/global/css/jquery/plugins/datatables/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="../resources/global/js/jquery/plugins/datatables/responsive/css/datatables.responsive.css">
		
		<script src="../resources/global/js/jquery/jquery.js"></script>
		<script src="../resources/global/js/jquery/plugins/jquery.validate.min.js"></script>
		<script src="../resources/global/js/bootstrap/bootbox.min.js"></script>
		<script src="../resources/global/js/bootstrap/bootstrap.js"></script>
		<script src="../resources/global/js/multi-level-menu/jquery.multilevelpushmenu.js"></script>
		
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="../resources/global/js/ie8/html5shiv.min.js"></script>
		<script src="../resources/global/js/ie8/respond.min.js"></script>
		<![endif]-->
		<style>
		body{padding:0;}
		footer {
			background-color:#f3f4f5;bottom: 0;clear:both;position: fixed;width:100%;z-index: 999;
		}
		
		footer a{
			color: rgb(116, 101, 101);text-decoration: none;
		}
		
		footer span.copyright {
			float: left;font-size: 11px;padding: 7px;
		}
		
		footer span.version {
			float: right;font-size: 11px;padding: 7px;
		}
		    
		footer span.copyright a {
			color: rgb(116, 101, 101);
		}
		
		footer #legal {
			clear: left;display: block;
		}
		
		.constrain {
				padding-left: 10px;padding-right: 10px;margin-bottom:0px;
		}
		</style>
	</head>
	<body>
		<div id="loadingMask"></div>
		<div id="loading">
		    <div class="loading-indicator"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
		</div>
		<div class="page-container horizontal-menu">
			<!-- <div class="search">
				<input type="text" id="searchtree" autofocus="" placeholder="Quick Find"><span class="fa fa-search searchicon tooltip-secondary" data-toggle="tooltip" data-original-title="Search menu item"></span>
				<span class="applyanimation"></span>
			</div>
			<div class="search_list">
				<div class="list"><ul class="ullist"></ul></div>
			</div> -->
			<header class="navbar navbar-fixed-top border-header"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<div class="navbar-inner">
					
					<!-- logo -->
					<div class="navbar-brand">
						<a href="javascript:void(0);">
							<img src="../resources/global/images/logo@2x.png" height="60" class="homepage_logo">
						</a>
					</div>
					
					<div class="navbar-brand">
						<h3 class="horizontal-page-title homepage hidden-xs hidden-sm" id="hp-citizen-title">eGov ERP</h3>
					</div>
					
					<!-- notifications and other links -->
					<ul class="nav navbar-right pull-right">
						
						<li class="dropdown">
							<a href="javascript:void(0);" class="tooltip-secondary workspace active" data-toggle="tooltip" title="" data-work="worklist" data-original-title="Worklist">
								<i class="fa fa-list fa-fw"></i>
							</a>
						</li>
						<li class="dropdown">
							<a href="javascript:void(0);" class="tooltip-secondary workspace" data-toggle="tooltip" title="" data-work="drafts" data-original-title="Drafts">
								<i class="fa fa-pencil fa-fw"></i>
							</a>
							
						</li>
						<li class="dropdown">
							<a href="javascript:void(0);" class="tooltip-secondary workspace" data-toggle="tooltip" title="" data-work="notifications" data-original-title="Notifications">

								<i class="fa fa-bell fa-fw"></i>
							</a>
							
						</li>
						
						<li class="hidden-xs menu-responsive">
							<a href="javascript:void(0);" class="profile-name">
								<i class="fa fa-user img-circle"></i> narasappa
							</a>
							<ul>
								<!-- <li>
									<a href="home/profile/edit" class="open-popup">
										<i class="fa fa-user"></i>
										<span class="title">Edit Profile</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" onclick="jQuery('.change-password').modal('show', {backdrop: 'static'});">
										<i class="fa fa-key"></i>
										<span class="title">Change Password</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" onclick="jQuery('.add-feedback').modal('show', {backdrop: 'static'});">
										<i class="fa fa-comment"></i>
										<span class="title">Feedback</span>
									</a>
								</li>
								
								<li>
									<a href="http://issues.egovernments.org/login.jsp" data-strwindname="r&amp;i" class="open-popup">
										<i class="fa fa-bug"></i>
										<span class="title">Report an Issue</span>
									</a>
								</li>
								
								<li>
									<a href="help" data-strwindname="help" class="open-popup">
										<i class="fa fa-question"></i>
										<span class="title">Help</span>
									</a>
								</li> -->
								<li>
									<a href="javascript:void(0)" class="signout">
										<i class="fa fa-sign-out"></i>
										<span class="title">Sign Out</span>
									</a>
								</li>
							</ul>
						</li>
						
						<li class="dropdown visible-xs hidden-sm">
							<a href="javascript:void(0)" class="tooltip-secondary signout" data-toggle="tooltip" title="" data-original-title="Sign Out">
								<i class="fa fa-sign-out"></i>
							</a>
						</li>
						
						<li class="dropdown">
							<a href="http://www.egovernments.org" target="_blank">
								<img src="../resources/global/images/logo@2x.png" title="Powered by eGovernments" height="25px" style="padding-top:5px">
							</a>
						</li>
					</ul>
				</div>
			</header>
			<!--New side bar menu content-->
			<div class="home-container">
				<div id="menu" class="homepage">
				  <nav>
				    <h2><i class="fa fa-reorder"></i></h2>
				    <ul>
				        <li>
				            <a href="#"></i>Applications</a>
				            <h2></i>Applications</h2>
				            <ul>
				                <li>
				                    <a href="#">Grievance Redressal</a>
				                    <h2>Grievance Redressal</h2>
				                    <ul>
				                        <li>
				                            <a href="#">Grievance</a>
				                            <h2>Grievance</h2>
				                            <ul>
						                        <li>
						                            <a href="create-complaint.html" target="_blank">Register Grievance</a>
						                        </li>
						                        <li>
						                            <a href="search-complaint.html">Search Grievance</a>
						                        </li>
						                    </ul>
				                        </li>
				                        <li>
				                            <a href="#">Masters</a>
				                            <!-- <h2>Masters</h2> -->
				                        </li>
				                        <li>
				                            <a href="#">Reports</a>
				                            <!-- <h2>Reports</h2> -->
				                        </li>
				                    </ul>
				                </li>
				            </ul>
				        </li>
				    </ul>
				  </nav>
				</div>
				<div class="inline-main-content">
					<div class="row main-space" id="worklist">
						<div class="col-xs-12">
							<div class="table-header">
								Worklist
							</div>
							<table class="table table-bordered datatable" id="official_inbox">
								<thead>
									<tr>
										<th>Date</th>
										<th>Sender</th>
										<th>Nature of Work</th>
										<th>Status</th>
										<th>Details</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<footer class="clearfix simple">
				<div class="constrain">
					<div id="legal">
						
						<span class="copyright">Copyright <span><i class="fa fa-copyright"></i></span> 2017 <a href="http://www.egovernments.org" target="_blank"> eGovernments Foundation.<sup>®</sup></a></span>
						<span class="version">eGov ERP - 2.1.0-SNAPSHOT_2667</span>
					</div>
				</div>
			</footer>
		</div>
		<script src="../resources/global/js/jquery/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/dataTables.bootstrap.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/responsive/js/datatables.responsive.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/moment.min.js"></script>
		<script src="../resources/global/js/jquery/plugins/datatables/datetime-moment.js"></script>
		<script src="../resources/global/js/egov/custom.js"></script>
		<script src="../resources/app/js/custom-menu.js"></script>
		<script src="../resources/app/js/homepageofficial.js"></script>
		<script type="text/javascript">
			$(window).load(function(){
		        document.getElementById("loading").style.display = "none";
				document.getElementById("loadingMask").style.display = "none";
		    });
		</script>
	</body>
	
</html>