/* font-options */

/* header styles */
.header{
  background: white;
}

.site-options{
  text-align: right;
  padding: 5px 5px 0;
}

.site-options ul.nav-menus{
  margin-bottom: 0;
}

.site-options ul.nav-menus, .site-options > ul.nav-menus > li{
  display: inline-block;
}

.site-options > ul.nav-menus > li > a{
  padding: 10px;
  margin-left: 5px;
  font-size: 0.9rem;
  color: #676767;
  text-decoration: none;
}

.site-options ul.nav-menus li a:hover{
  background: #f3f3f3;
}

.site-options ul.nav-menus li > ul.dropdown-menu li a{
  width: 100%;
  padding: 5px 10px;
  display: block;
  font-size: 0.8rem;
  color: #7d7474;
  text-decoration: none;
}

.fonts-option {
  margin-right: 10px;
}

.fonts-option .btn{
  background: white;
  color: black;
  border: 1px solid #d4d4d4;
}

.fonts-option .btn.active{
  background: #3598DB;
  color: white;
  border: 1px solid #3598DB;
}

img.logo{
  width:65px;
}

.site-title{
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 10px;
}

.padding-b10{
  padding-bottom: 10px;
}

.weather-widget{
  background: #757575;
  color: white;
  padding:4px 8px;
  display: inline-block;
}

.weather-widget > div{
  display: inline-block;
  vertical-align: middle;
}

.weather-widget .day-info{
  font-size: 0.8rem;
  color:rgba(255, 255, 255, 0.69);
  line-height: 12px;
}

.weather-widget .date-text{
  line-height: 20px;
}

.weather-widget .widget-info{
  padding-left: 5px;
}

.weather-widget span.celsius{
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.weather-widget span.icon{
  display: inline-block;
  vertical-align: top;
  margin-left: -8px;
}

.weather-widget span.icon > i{
  display: block;
  font-size: 1.5rem;
  line-height: 1rem;
}

.weather-widget span.icon > i.small{
  font-size: 0.6rem;
}

.search-widget{
  display: inline-block;
  margin-left: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-widget input{
  padding:12px;
  border-radius: 0;
  background: #F2F2F2;
  border-color: transparent;
  width: 20em !important;
}

.search-widget input:focus{
  color: #495057;
  background-color: #f9f9f9;
  border-color: transparent;
  outline: 0;
}

.search-widget span.input-group-addon{
  border-color: transparent;
  border-radius: 0;
  background: #F1C40F;
  color: white;
  padding: 8px 30px;
}

.nav-main-menu-container{
  background: #3598DB;
  padding:0 25px;
}

ul.nav-main-menus{
  margin-bottom: 0;
  width:100%;
  display: flex;
}

ul.nav-main-menus li.half-flex{
  flex: 0.5;
}

ul.nav-main-menus li{
  display: inline-block;
  flex: 1;
}

ul.nav-main-menus li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding:16px 0;
  width:100%;
  text-align: center;
}

ul.nav-main-menus li a div{
  display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
    position: relative;
    font-weight: bold;
}

div span.new{
  position: absolute;
  right: 0;
  top: -15px;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #ffd83c;
  line-height: 1.6rem;
}

ul.nav-main-menus li a:hover{
  background: #2a7fb9;
}

ul.nav-main-menus li a i{
  padding-right: 5px;
}

.carousel-inner{
  width:100%;
  max-height: 380px !important;
}

/* notification styles */

.notification.error{
  background: #E84C3D;
  border: none;
  border-radius: 0;
  width: 100%;
  color: white;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.notification a.link{
  vertical-align: middle;
  color: white;
  text-decoration: underline;
}

.notification a.close{
  color: white;
}

.notification.error strong{
  background: #C1392B;
  padding: 6px 10px;
  margin-right: 10px;
  text-transform: uppercase;
}


/* page contents */

.page-section{
  margin-top:-50px;
}

.custom-card{
  border:0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  margin-bottom: 16px;
}

.custom-card .card-header{
  text-transform: uppercase;
  font-size: 0.9rem;
}

.custom-card .card-header *{
  vertical-align: middle;
}

.custom-card .card-header span{
  padding-left:10px;
}

.custom-card.yellow .card-header{
  background: #F1C40F;
}

.custom-card.blue .card-header{
  background: #3598DB;
  color: white;
}

.grid-menu-item{
  width:100%;
  text-align: center;
  background:#959595;
  margin-bottom: 30px;
}

.grid-menu-item a{
  text-decoration: none;
}

.grid-menu-item div.icon{
  padding: 15px;
  background: #F2F2F2;
}

.grid-menu-item div.image{
  padding: 3px;
  background: #F2F2F2;
}

.grid-menu-item div.image img{
   width: 80px;
}

.grid-menu-item div.icon i{
  font-size: 3rem;
  color: #6F6F6F;
}

.grid-menu-item div.title{
  padding: 10px;
    background: #959595;
    color: white;
    font-size: 0.9rem;
}

.bottom-actions div{
  display: inline-block;
}

.bottom-actions div a{
  text-decoration: none;
}

.bottom-actions div a.black{
  color:#959595;
}

.bottom-actions div a.yellow{
  color:#F5D34B;
}

.bottom-actions div a span, .bottom-actions div a i{
  vertical-align: middle;
}

.bottom-actions div.right{
  float:right;
}

.margin-top-10{
  margin-top:10px;
}

.margin-top-5{
  margin-top: 5px;
}
/* section1 */

span.light-text, span.dark-text{
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.light-text{
  color:gray;
}

.fixed-card-height *[class^="col-"] .card{
  height: 20em;
}

.card-dashboard{
  height:400px;
}

.fixed-card-height *[class^="col-"] .marque-body{
    width: 100%;
    height: 13em;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0%   { top:   8em }
    100% { top: -18em }
}

.dashboard-frame{
  width: 100%;
  height: 19em;
  border: 0;
}

.header-fixed{
  padding-top: 151px;
}

.main-header{
  background: white;
}

.media-header{
  font-size: 1.1rem;
}

.small-desc{
  font-size: 0.9rem;
}

.mrg-b0{
  margin-bottom:0px;
}

.marg-b5{
  margin-bottom: 0.2rem;
}

.marg-b10{
  margin-bottom: 1rem;
}

.border-gray{
  border: 1px solid #d2d2d2;
}

.flex-row{
  display: flex;
  flex-direction:row;
  padding:5px;
}

.flex-cell{
  flex: 1;
  margin:5px;
}

.modal-dialog.lg {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body.small-text{
  font-size: 0.9rem;
}

.certificate-name-break{
  margin-bottom: 10px;
  word-break: break-word;
}

@media print
{
  /* on modal open bootstrap adds class "modal-open" to body, so you can handle that case and hide body */
  body.modal-open {
      visibility: hidden;
  }

  body.modal-open .modal .modal-header,
  body.modal-open .modal .modal-body {
      visibility: visible; /* make visible modal body and header */
  }

  .modal {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible!important;
    }

}

.navbar-custom{
  background: #fff;
  padding:20px;
  color:#263238;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
}

.image-emblem{
  width: 47px;
  margin-right: 16px;
}

.orange-text{
  color:#FF9800;
}

.gray-bg{
  background: #F5F5F5;
}

.img-btn *{
  vertical-align: middle;
}

#services{
  margin-top:10px;
}

#services card{
  margin-bottom: 10px;
}

.card-header.orange{
  background: #FF9E00;
  font-weight: bold;
  color:white;
  border-top-right-radius: 2px;
  border-color: #FF9E00;
}
